main {
	min-height: 80vh;
}

.jumbotron {
	width: 100%;
	height: 0%;
	background: none;

	margin-left: 0%;
	margin-right: -15%;
	width: 50%;
}

.image {
	width: 80vw;
	height: 60vh;
}

.card {
	min-height: 10px;
	border: none;
	flex: row;
}

.card-body {
	width: 500%;
}

.card-title {
	margin-right: 85%;
	font-size: small;
}
